{% extends 'base.html.twig' %}

{% block body %}
    <h1>Taches list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Detail</th>
                <th>Date</th>
                <th>Effectuee</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tache in taches %}
            <tr>
                <td><a href="{{ path('tache_show', { 'id': tache.id }) }}">{{ tache.id }}</a></td>
                <td>{{ tache.nom }}</td>
                <td>{{ tache.detail }}</td>
                <td>{% if tache.date %}{{ tache.date|date('Y-m-d') }}{% endif %}</td>
                <td>{% if tache.effectuee %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tache_show', { 'id': tache.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tache_edit', { 'id': tache.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tache_new') }}">Create a new tache</a>
        </li>
    </ul>
{% endblock %}
